<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SLIQ Automation Suite" verbose="2">

  <!-- Smoke Test Suite -->
  <test name="Smoke Tests">
    <classes>
      <class name="com.ui.test.smoke.MutualFund"/>
      <class name="com.ui.test.smoke.Shares"/>
    </classes>
  </test>

  <!-- Regression Test Suite -->
  <test name="Regression Tests">
    <classes>
      <class name="com.ui.test.regression.EmailValidation"/> 
      <class name="com.ui.test.regression.InvalidLoginCheck"/>
      <class name="com.ui.test.regression.KYCPersonalDetailsMandatoryCheck"/>
      <class name="com.ui.test.regression.LinkValidation"/>
      <class name="com.ui.test.regression.PanMandatoryCheck"/>
      <class name="com.ui.test.regression.PanValidation"/>
      <class name="com.ui.test.regression.ViewMutualFundDetails"/>
    </classes>
  </test>

</suite>
