<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

	<Appenders>

		<!-- Console Appender with clean, compact layout for Eclipse console readability -->
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%-5level] [%c{1}:%L] - %msg%n" />
		</Console>

		<!-- File Appender with dynamic date-time prefix to prevent log overwrites -->
		<File name="FileLogger" fileName="logs/automation_${date:yyyy-MM-dd_HH-mm-ss}.log" append="false">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%c{1}:%L] - %msg%n" />
		</File>

	</Appenders>

	<loggers>

		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="FileLogger" />
		</Root>

	</loggers>
</Configuration>